.button {
  padding: 8px 20px;
  text-align: center;
  border-radius: 4px;

  &:hover {
    opacity: 0.75;
  }

  &--primary {
    color: $base-white;
    background: $base-primary;
  }

  &--light {
    color: $base-primary;
    background: $base-white;
  }
}
