.hero-card {
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 60px;

  .hero-card__title {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.72px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 96px;
  }

  .hero-card__description {
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    max-width: 650px;
  }

  .hero-card__order-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
  }

  .hero-card__old-price {
    color: $base-primary;
    line-height: 32px;
  }

  .hero-card__new-price {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-right: 14px;
  }

  .hero-card__button {
    text-decoration: none;
  }
}
