.main-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  width: 100%;
  background-color: $base-white;
  z-index: 1000;
}

.main-menu-list__item {
  padding: 20px;
  border-bottom: 1px solid $base-secondary;
}

.main-menu-list__item:first-child {
  border-top: 1px solid $base-secondary;
}

.main-menu-list__link {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 16px;
}
