.menu-toggle {
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 22px;
}

.menu-toggle__icon {
  display: none;
}

.menu-toggle__icon--burger {
  display: none;
}

.menu-toggle__icon--cross {
  display: block;
}
