.product-pagination {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 40px;

  .product-pagination__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .product-pagination__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 8px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    border: 0;
    cursor: pointer;

    &--active {
      background: transparent;
      display: block;
      text-align: center;
      cursor: default;
    }

    &--arrow {
      padding: 15px 0;
    }
  }

  .product-pagination__direction {
    display: none;
  }
}
