.promo {
  position: relative;
}

.promo__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
}

.promo__card {
  display: none;

  &.active {
    display: block;
  }

  &--flat-white {
    background-color: $bg-flat-white;
  }

  &--lavender {
    background-color: $bg-lavender-latte;
  }

  &--espresso {
    background: $bg-espresso;
  }
}

.promo__button {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: transparent;
  border: none;
  padding: 0 5px 0 4px;
  cursor: pointer;

  &--back {
    left: 0;
  }

  &--next {
    right: 0;
  }

  &:hover {
    opacity: 0.5;
  }
}
