.slider {
  .slider__button {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--prev {
      left: -6px;
      top: 1px;
    }

    &--next {
      right: -6px;
      top: 1px;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
