.user-menu-wrapper {
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.user-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu__login-link {
  display: flex;
  padding: 22px;
}

.user-menu__basket-link {
  display: flex;
  padding: 22px;
}
